main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.map-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#map {
    width: 90%;
    height: 280px;
    border-radius: 1rem;
}

.contact-form {
    background: var(--background-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
}

.form-input,
.form-dropdown,
.form-bigtext {
    padding: 0.75rem;
    border-radius: 5rem;
    border: 1px solid var(--primary-color-light);
    width: 100%;
}

.form-dropdown {
    width: 110%;
}

.form-bigtext {
    min-height: 60px;
    resize: vertical;
    border-radius: 1rem;
}

.form-submit {
    margin-top: 0.5rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    width: 110%;
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .contact-form {
        width: 40%;
    }

    .map-section {
        width: 40%;
    }

    #map {
        width: 100%;
        height: 420px;
    }

    .form-submit,
    .form-dropdown {
        width: 105%;
    }
}