.back-to-shop {
    color: var(--text-color-dark);
}

h2 {
    padding: 2rem 0 2rem 0;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-normal);
}

main {
    padding: 2rem;
}

.img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-normal);
}

figcaption {
    display: none;
}

.description {
    padding: 2rem 0rem 2rem 0rem;
    line-height: var(--line-height);
}

.specifications {
    text-align: left;
    list-style: disc;
    line-height: var(--line-height);
}

li span {
    font-weight: var(--font-weight-normal);
}

li {
    padding-bottom: 0.7rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}

.cta-button {
    height: 3rem;
    width: 15.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-heart-icon {
    color: var(--text-color-light);
    height: 33px;
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas:
            "bts bts"
            "img title"
            "img desc"
            "img specs"
            "img buttons";
        column-gap: 4rem;
        row-gap: 1.5rem;
        align-items: start;
    }

    .back-to-shop {
        grid-area: bts;
    }

    h2 {
        grid-area: title;
        margin: 0;
    }

    .product-photo {
        grid-area: img;
    }

    .description {
        grid-area: desc;
    }

    .specifications {
        grid-area: specs;
    }

    .buttons {
        grid-area: buttons;
        flex-direction: row;
    }
}