@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 3fr 1.15fr;
        grid-template-areas:
            'products lists'
        ;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .product {
        flex-basis: 31.5%;
        box-sizing: border-box;
        margin: 0;
        border-radius: 1rem;
    }

    .lists {
        grid-area: lists;
    }

}

.lists {
    background-color: var(--background-color-dark);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart, .wish {
    background-color: var(--background-color-light);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.cart div, .wishlist div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart div svg {
    color: var(--primary-color);
}

.cart-item .remove, .wish-item .wish-remove {
  opacity: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-item:hover .remove, .wish-item:hover .wish-remove{
  opacity: 1;
}
.cart-item, .wish-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist {
    background-color: var(--background-color-light);
    padding: 1rem;
    border-radius: 1rem;
}

.cart div h3, .wishlist div h3{
    background-color: var(--primary-color-light);
    padding: 0.5rem;
    border-radius: 10rem;
    color: var(--text-color-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.cart p, .wishlist p {
    text-align: right;
    font-weight: 600;
}

.cart ul li, .wishlist ul li {
    background-color: var(--background-color-dark);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-thumb {
  width: 48px;
  height: 48px;
  border-radius: 5rem;
  flex-shrink: 0;
}

.product-wishlist.active svg {
  color: red;
}